---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Primary expertise on:
      </p>
      <b>
        <ul class="list-disc list-inside">
          <li>Python</li>
          <li>Django</li>
          <li>Django REST framework</li>
          <li>Nuxt</li>
          <li>Vuejs</li>
          <li>PostgreSQL</li>
        </ul>
      </b>
      <p class="mt-1">
        I continuously invest time in understanding the fundamentals of the tools/libraries within my development stack. This helps me optimize for performance and efficiently troubleshoot complex issues.
        <br>
        I'm methodical and results-oriented, with a focus on selecting reliable and robust solutions.<br>
        Currently learning Golang, Nuxt3, React.
      </p>
    </div>
  </div>
</Card>

