---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Primary expertise on:
      </p>
      <b>
        <ul class="list-disc list-inside">
          <li>Python</li>
          <li>Django</li>
          <li>Django REST framework</li>
          <li>Nuxt</li>
          <li>Vuejs</li>
          <li>PostgreSQL</li>
        </ul>
      </b>
    </div>
    <p class="text-sm font-light">
      As an application developer, I've invested significant time in understanding the underlying principles of tools/libraries I use. This knowledge has enabled me to optimize performance and troubleshoot complex issues effectively.
      <br>
       I'm methodical in my work and opt for reliable or robust solutions over less mature or riskier solutions.
    </p>
    <p class="text-sm font-light">
      Currently learning <b><a href="https://doc.rust-lang.org/book/">Rust</a>, Golang, Nuxt3, <a href="https://lwn.net/Kernel/LDD3/">Linux Kernel</a></b>
    </p>
  </div>
</Card>

