---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Anaswara T Rajan [anaśvara]. <br>
        full-stack web developer [3+yrs]. <br>
        Primary expertise on:
      </p>
      <b>
        <ul class="list-disc list-inside">
          <li>Python</li>
          <li>Django</li>
          <li>Django REST framework</li>
          <li>Nuxt</li>
          <li>Vuejs</li>
          <li>Postgres</li>
        </ul>
      </b>
    </div>
    <p class="text-sm font-light">
      As an application developer, I try to understand the inner workings of tools/tech to use them better. <br>
       I try to go for the efficient/robust instead of cutting-edge/risky solutions.
       I'm methodical and strive to be a good engineer each day.
    </p>
    <p class="text-sm font-light">
      Currently learning <b><a href="https://doc.rust-lang.org/book/">Rust</a>, Golang, Nuxt3, React, Astro, <a href="https://lwn.net/Kernel/LDD3/">Linux Kernel</a></b>
    </p>
  </div>
</Card>
