---
import Card from "./Card/index.astro";
---

<script>

</script>

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-3" title="Timeline">
  <di class="text-xs">
    <p><span class="text-gray-500">aug 2021 - present</span> <span class="float-right">Software Developer Engineer : McKesson Compile</span></p> 
    <p><span class="text-gray-500">aug 2021</span> <span class="float-right">University Graduation - CGPA 7.81</span></p>
    <p><span class="text-gray-500">jul 2020 - feb 2021</span><span class="float-right">Freelance web developer/Open Source Contributor</span></p>
    <p><span class="text-gray-500">may 2020 - jul 2020</span> <span class="float-right">Software Developer Intern : CompileInc</span> </p>
    <p><span class="text-gray-500">jan 2020 - mar 2020</span> <span class="float-right">Backend Django Developer : College fest website</span> </p>
  </div>
</Card>
