---
import Card from "./Card/index.astro";
---

<script>

</script>

<Card colSpan="md:col-span-2" rowSpan="md:row-span-3" title="Experience">
  <div class="text-xs flex flex-col">
    <p class="mb-2 md:mb-2 mt-2"><span class="text-gray-500">sep 2024 - sep 2025</span> <span class="block md:float-right">Senior Software Engineer : McKesson Compile</span></p> 
    <p class="mb-2 md:mb-2"><span class="text-gray-500">aug 2021 - sep 2024</span> <span class="block md:float-right">Software Developer Engineer : McKesson Compile</span></p> 
    <p class="mb-2 md:mb-2"><span class="text-gray-500">aug 2021</span> <span class="block md:float-right">University Graduation - CGPA 7.81</span></p>
    <p class="mb-2 md:mb-2"><span class="text-gray-500">jul 2020 - feb 2021</span><span class="block md:float-right">Freelance web developer/Open Source Contributor</span></p>
    <p class="mb-2 md:mb-2"><span class="text-gray-500">may 2020 - jul 2020</span> <span class="block md:float-right">Software Developer Intern : CompileInc</span> </p>
  </div>
</Card>
